/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1025px;

// Large desktops
$screen-xl-min: 1440px;

// Colors
$white: #fff;
$black: #000;
$light-gray: #626262;
$dark-gray: #474747;

$pink: #D66969;
$dark-pink: #A44646;
$orange: #E5892A;
$dark-orange: #C66E15;
$cream: #FFF6E6;
$dark-cream: #FBEAC9;
$violet: #8186A5;
$dark-violet: #4C5278;
$brown: #B29C70;
$dark-brown: #796B4F;
