/* =============
    Base
============= */


ul {
    padding: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

.main-text-margins {
    >div {
        @include md {
            margin-right: 380px;
        }

        @include lg {
            margin-left: 100px;
            margin-right: 370px;
        }

        @include xl {
            margin-left: 0px;
        }
    }
}

.grid-container {
    display: grid;
    grid-template-areas: ". container .";
    grid-template-columns: 15px auto 15px;

    @include md {
        grid-template-columns: 25px auto 25px;
    }

    @include xl {
        grid-template-columns: auto 1025px auto;
    }

    >div {
        grid-area: container;
    }
}

.xl-photo-grid {
    @include xl {
        display: grid;
        grid-template-areas: ". photo-container .";
        grid-template-columns: auto 1440px auto;
    }

    >div {
        grid-area: photo-container;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
    padding: 0px;
}

.header-spacing {
    margin-top: 70px;

    @include md {
        margin-top: 70px;
    }

    @include lg {
        margin-top: 80px;
    }
}

.big-spacing {
    margin-bottom: 110px;

    @include md {
        margin-bottom: 145px;
    }

    @include lg {
        margin-bottom: 160px;
    }
}

.medium-spacing {
    margin-bottom: 40px;

    @include md {
        margin-bottom: 60px;
    }

    @include lg {
        margin-bottom: 75px;
    }
}

.small-spacing {
    margin-bottom: 25px;

    @include md {
        margin-bottom: 35px;
    }

    @include lg {
        margin-bottom: 45px;
    }
}

.xs-spacing {
    margin-bottom: 10px;

    @include md {
        margin-bottom: 20px;
    }
}

.show-for-mobile {
    display: flex !important;

    @include md {
        display: none !important;
    }
}

.show-for-tablet {
    display: none !important;

    @include md {
        display: flex !important;
    }

    @include lg {
        display: none !important;
    }
}

.show-for-desktop {
    display: none !important;

    @include lg {
        display: flex !important;
    }
}

.show-for-md {
    display: none;

    @include md {
        display: block;
    }
}

.show-for-lg {
    display: none;

    @include lg {
        display: block;
    }
}

.line {
    
    border-top: 3px solid $violet;
    margin-bottom: 40px;
    margin-top: 110px;
    width: 100px;

    @include md {
        border-top: 5px solid $violet;
        margin-bottom: 60px;
        margin-top: 145px;
        width: 200px;
    }

    @include lg {
        border-top: 5px solid $violet;
        margin-bottom: 50px;
        margin-top: 160px;
        width: 340px;
    }
}