/* =============
    Base
============= */


a:link,a:visited{
    text-decoration: none;
    transition: 0.25s;
}

.grid-container{
    display: grid;
    grid-template-columns: 15px auto 15px;
    grid-template-areas: ". container .";

    @include md{
        grid-template-columns: 25px auto 25px;
    }

    @include xl{
        grid-template-columns: auto 1025px auto;
    }

    >div{
        grid-area: container;
    }
}

.xl-photo-grid{
    
    @include xl{
        display: grid;
        grid-template-columns: auto 1440px auto;
        grid-template-areas: ". photo-container .";
    }

    >div{
        grid-area: photo-container;
    }
}

h1, h2, h3, h4, h5, h6, p{
    padding: 0px;
    margin: 0px;
}

.header-spacing{
    margin-top: 80px;

    @include md{
        margin-top: 90px;
    }
}


.big-spacing{
    margin-bottom: 110px;

    @include md{
        margin-bottom: 145px;
    }

    @include lg{
        margin-bottom: 160px;
    }
}

.medium-spacing{
    margin-bottom: 40px;

    @include md{
        margin-bottom: 60px;
    }

    @include lg{
        margin-bottom: 75px;
    }
}

.small-spacing{
    margin-bottom: 25px;

    @include md{
        margin-bottom: 35px;
    }

    @include lg{
        margin-bottom: 45px;
    }
}

.xs-spacing{
    margin-bottom: 10px;

    @include md{
    margin-bottom: 20px;
    }
}


.show-for-mobile {
    display: flex !important;

    @include md {
        display: none !important;
    }
}

.show-for-tablet {
    display: none !important;

    @include md {
        display: flex !important;
    }

    @include lg {
        display: none !important;
    }
}

.show-for-desktop {
    display: none !important;

    @include lg {
        display: flex !important;
    }
}

.show-for-md{
    display: none;
    
    @include md{
        display: block;
    }
}

.show-for-lg{
    display: none;
    
    @include lg{
        display: block;
    }
}



.line{

    border-top: 3px solid $violet;
    width: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @include md{
        border-top: 5px solid $violet;
        width: 200px;

    }

    @include lg{
        border-top: 5px solid $violet;
        width: 340px;
    }
        

}
