/* =============
    Index
============= */
#home {
    >div {
        #home-carousel {
            >div {
                .index-slider {
                    div {
                        height: 400px;

                        @include md {
                            height: 550px;
                        }

                        @include lg {
                            height: 670px;
                        }

                        img {
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                        }
                    }

                }

            }
        }

        #home-gallery-1 {
            overflow: hidden;
            >div {
                ul {
                    display: grid;
                    gap: 40px;
                    grid-template-rows: repeat(2, 550px);

                    @include md {
                        column-gap: 20px;
                        display: grid;
                        grid-template-areas: "h1 h2";
                        grid-template-columns: 55% auto;
                        grid-template-rows: repeat(1, 550px);
                    }

                    @include lg {
                        column-gap: 20px;
                        grid-template-columns: 60% auto;
                        grid-template-rows: repeat(1, 650px);
                    }

                    @include xl {
                        grid-template-rows: repeat(1, 850px);
                    }

                    li {
                        img {
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                        }
                    }

                    li:nth-child(1) {
                        img {
                            @include md {
                                grid-area: h1;
                            }
                        }
                    }

                    li:nth-child(2) {
                        img {
                            @include md {
                                grid-area: h2;
                            }
                        }
                    }
                }


            }
        }

        #line-h1{
            display: flex;
            justify-content: flex-end;
        }

        #line-h-special {
            margin-top: 40px;

            @include md {
                margin-top: 60px;
            }

            @include lg {
                margin-top: 50px;
            }
        }

        #home-hours-text {
            @include md {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            >div {
                ul {
                    column-gap: 25px;
                    display: grid;
                    grid-template-areas: "day hours";
                    grid-template-columns: repeat(2, 1fr);

                    @include md {
                        column-gap: 85px;
                    }

                    li:nth-child(1) {
                        grid-area: day;
                    }

                    li:nth-child(2) {
                        grid-area: hours;

                        p:nth-child(2) {
                            color: $pink;
                        }
                    }
                }
            }
        }

        #home-gallery-2 {
            overflow: hidden;
            >div {
                ul {
                    display: grid;
                    gap: 40px;
                    grid-template-rows: repeat(2, 550px);

                    @include md {
                        column-gap: 20px;
                        display: grid;
                        grid-template-areas: "h3 h4";
                        grid-template-columns: auto 55%;
                        grid-template-rows: repeat(1, 550px);
                    }

                    @include lg {
                        column-gap: 20px;
                        grid-template-columns: 40% auto;
                    }

                    @include xl {
                        grid-template-rows: repeat(1, 850px);
                    }

                    li {
                        img {
                            height: 100%;
                            object-fit: cover;
                            object-position: center;
                            width: 100%;
                        }
                    }

                    li:nth-child(1) {
                        img {
                            object-position: -220px 0px;

                            @include md {
                                grid-area: h3;
                                object-position: center;
                            }
                        }
                    }

                    li:nth-child(2) {
                        img {
                            @include md {
                                grid-area: h4;
                            }
                        }
                    }
                }
            }
        }

        #line-h3{
            display: flex;
            justify-content: flex-end;;
        }
    }
}