/* =============
    Header
============= */

header {
    >div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px 0px;
        position: fixed;
        background-color: $white;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 1000;

        #logo-container {
            img {
                align-items: center;
                display: flex;
                justify-content: center;
                width: 25px;
                padding-left: 15px;

                @include md {
                    width: initial;
                    padding-left: 25px;
                }

                
            }
        }

        #name-container {

                align-items: center;
                display: flex;
                justify-content: center;

            h6 {
                color: $dark-gray;
                font-family: 'Mukta', sans-serif;
                font-size: rem-calc(16);
                font-weight: 600;
                text-align: center;

                
                
            }
        }

        #burger-container {
            align-items: center;
            color: $pink;
            display: flex;
            font-size: rem-calc(20);
            justify-content: flex-end;
            padding-right: 15px;

            @include md{
                padding-right: 25px; 
            }
        }
    }
}
