/* =============
    Buttons
============= */
.button {
    align-items: center;
    display: flex;
    font-family: 'Mukta', sans-serif;
    font-size: rem-calc(16);
    font-weight: 600;
    justify-content: flex-start;

    a:link,
    a:visited {
        background-color: $orange;
        border-radius: 30px;
        color: $white;
        padding: 10px 20px;
        transition: 0.25s;
    }

    a:hover,
    a:active {
        background-color: $dark-orange;
    }
}

.button-submit {
    align-items: center;
    display: flex;
    font-family: 'Mukta', sans-serif;
    font-size: rem-calc(16);
    font-weight: 600;
    justify-content: flex-start;
    background-color: $orange;
    border-radius: 30px;
    color: $white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.button-sg {
    align-items: center;
    display: flex;
    font-family: 'Mukta', sans-serif;
    font-size: rem-calc(16);
    font-weight: 600;
    justify-content: center;

    a:link,
    a:visited {
        background-color: $orange;
        border-radius: 30px;
        color: $white;
        padding: 20px 20px;
        transition: 0.25s;
    }

    a:hover,
    a:active {
        background-color: $dark-orange;
    }
}